In [1]:
import pandas as pd
import csv

Run the below code to create an Indexed csv file to store and access the Question and crossponding Choices

In [11]:
index = []

index.append("Question")

for i in range(1,5):
    index.append(f"Option-{i}")
    
index.append("Answer")

with open ("Question.csv","w",newline="") as file:
    writer = csv.writer(file)
    writer.writerow(index)

 RUN THE BELOW CODE TO INSERT THE QUESTIONS AND ITS ANSWER WITH FOLLOWING CHOICES

In [28]:
n = int(input('Enter the number of question u want to enter: '))
for i in range(1,n+1):
    Q = []
    question = input(f"Enter your question {i}: ")
    Q.append(question)
    for i in range (1,5):
        option = input(f"Enter your {i} option: ")
        Q.append(option)
    answer = input("Enter the answer of the question: ")
    Q.append(answer)
    with open ("Question.csv","a",newline="") as file:
        writer = csv.writer(file)
        writer.writerow(Q)

USE THE BELOW CODE TO VIEW THE QUESTION.CSV USING PANDAS

In [38]:
data = pd.read_csv("Question.csv")
data

                  Question Option-1 Option-2 Option-3       Option-4  Answer
0             what is 2+2?        4        5        6            NaN       1
1             what is 3X3?        9        6        5            NaN       1
2  Who is the PM of india?    Abhay     Allu     Modi  None of these       3

In [18]:
len(data)

3

RUN THE BELOW CODE TO RETRIVE THE QUESTION AND GET THE ANSWER FROM THE USER AND STORE IT IN A LIST

In [6]:
data = pd.read_csv("Question.csv")
Student_answer = []
no_of_question = 3    # can be found running len funtion on the data
for j in range(1, no_of_question + 1): 
    print(f"Question {j}) {data.iloc[j-1, 0]}")
    for i in range(1, 5):
        print(f"option-{i}) {data.iloc[j-1, i]}")
    answer = input("Enter your Answer: ")   
    Student_answer.append(answer)

Question 1) what is 2+2?
option-1) 4
option-2) 5
option-3) 6
option-4) nan

Question 2) what is 3X3?
option-1) 9
option-2) 6
option-3) 5
option-4) nan
Question 3) Who is the PM of india?
option-1) Abhay
option-2) Allu
option-3) Modi
option-4) None of these

USE THE BELOW CODE TO ADD THE DATA TO THE FILE

In [ ]:
Student_answer_index = []
n = len(data)
for i in range(1,4):  # here 4 = (len(data) + 1)
    Student_answer_index.append(i)
with open ("Student_ans.csv","w",newline='') as file:
    writer = csv.writer(file)
    writer.writerow(Student_answer_index)

In [7]:
with open ("Student_ans.csv","a",newline='') as file:
    writer = csv.writer(file)
    writer.writerow(Student_answer)

In [39]:
Student_Ans_data = pd.read_csv("Student_ans.csv")
Student_Ans_data

   1  2  3
0  1  3  4
1  2  3  4

In [41]:
len(Student_Ans_data)

2

USE THE BELOW CODE TO CALCULATE IS THE ANSWER IS CORECT OR NOT

In [49]:
result = []
for j in range(2):
    student_list = []
    for i in range(3):
        if data.loc[i,"Answer"] == Student_Ans_data.iloc[j,i]:
            student_list.append(1)
        elif data.loc[i,"Answer"] != Student_Ans_data.iloc[j,i]:
            student_list.append(-0.25)
        else:
            student_list.append("")
    result.append(student_list)
result

[[1, -0.25, -0.25], [-0.25, -0.25, -0.25]]

USE BELOW CODE TO ADD DATA TO THE FILE

In [50]:
with open("Student_marks.csv", "a", newline="") as file:
    writer = csv.writer(file)
    
    writer.writerows(result)

CODE TO GET DATA IN THE FORM OF LIST

In [ ]:
data = []

with open("Student_marks.csv", "r") as file:
    reader = csv.reader(file)

    for row in reader:
        data.append([float(value) for value in row])

[[1.0, -0.25, -0.25], [-0.25, -0.25, -0.25]]

In [53]:
n = int(input("Enter the student no u want result: "))

print(sum(data[n-1]))

0.5