In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Answers.csv")          #read the answers file 
af = pd.read_csv("student_answer.csv")   #read the students answers

In [3]:
# transpose the data for better reading

af = af.T
df = df.T

In [4]:
df
# answers are in coloume

    0
1   B
2   A
3   D
4   A
5   D
6   B
7   A
8   C
9   D
10  A

In [5]:
af 
'''
where :
row = question no
coloume = student number
'''

'\nwhere :\nrow = question no\ncoloume = student number\n'

In [6]:
n = int(input("Number of question: "))
l = int(input("No of Student: "))

In [ ]:
total = []
for j in range (2):   # here range is the number of student(u can change it according to data)(l)
    student = []
    for i in range (1,11):  # here range is the no of question (in my case its 10 question) chamge according to the question number length(n)
        if df.loc[str(i),0] == af.loc[str(i),j]:  
            student.append(1)
        elif df.loc[str(i),0] != af.loc[str(i),j]:
            student.append(-0.25)
        else:
            student.append(0)
    total.append(student)       # appending the student mark in total list indivisually

In [8]:
result = [] #in list indexing is done according to student example student 1 = index 0

for x in range (2):   # here n is the no of student 
    result.append(sum(total[x]))  
    
result #printing the result of all student

[3.75, -1.25]